

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}


.content-wrap {
	padding: 15px 15px;
	margin: 0 auto;
	overflow: auto;
	}

.code-large {
	padding: 0;
	margin: 0 auto;
	margin-left: -45px ;
	overflow: auto;
}

.normal{
	padding: 0;
	margin: 0 auto;
	overflow: auto;
}
.final {
	padding-bottom: 30px;
}

.final-related {
	padding-bottom: 20px;
}

/*---TITLES---*/

header h1 {
	font-size: 1.9rem;
}

header h2 {
	font-size: 1.5rem;
}

header h3 {
	font-size: 1.3rem;
}

h1 {
	font-size: 1.67rem;
	margin: 30px auto;
}

header h2 {
	margin-bottom: 10px;
}

h2 + hr {
	border: 1px solid #5A5A66;
}

header h3 {
	margin-bottom: 7px;
}

h3 + hr {
	border: 1px solid  #7C9EB2;
}

/*---SECTIONS---*/

.output {
	padding: 5px 5px 5px 10px;
	background-color: #F4F4F4;
}

/*---LINKS---*/

a {
	text-decoration: none;
	color: #035688;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #424258;
}

fieldset {
	border: 2px solid #5A5A66;
}


@media (min-width: 800px) {


	#menu {
	    position: fixed;
		top: 0;
		left: 0;
		width: 380px;
		height: 100%;
		overflow-y: scroll;
		z-index: 1;
	}

	#navbar {
		padding: 0px 40px;
	}

	#navbar h1 {
		margin: 15px 0px;
	}

	main {
		margin-left: 380px;
	}

	.content-wrap-menu {
		padding: 15px 10px;
	}

	.content-wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 35px;
    overflow: auto;
}

.code-large, .normal {
	margin-left: 40px;
}


}